@import url('https://fonts.googleapis.com/css?family=Orbitron:400,700');





header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 32px;
    text-align: center;
    z-index: 1;

}

header.scrolled img {
    width: 64px;

}

header img {
    width: 136px;
    transition: width 0.5s;
}


body {
    font-family: 'Orbitron', sans-serif;

    background: url("/images/img2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    justify-content: center;

}

.intro {

    display: flex;
    color: white;
    height: 100vh;
    top: 0;
    left: 50%;


}

.typing {
    position: relative;
    margin-left: 10px;
    white-space: nowrap;
}

.typing::after {
    content: "";
    position: relative;
    right: -5px;
    width: 1px;
    height: 4%;
    border-right: 2px solid white;
    animation: blink 0.25s infinite ease;


}

@keyframes blink {

    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }


}